<!DOCTYPE HTML>
<html>
<head>
	<title>BL&Ouml;D</title>
	<link rel="stylesheet" href="../template/bootstrap.min.css" />
	<style type="text/css">
	#head{
		border-bottom: 1px solid #ddd;
		padding: 10px 50px 10px 50px;
		margin-bottom: 10px;
	}
	
	img {
		max-width: 100%;
		max-height: 500px;
	}
	
	.article {
		position: relative;
		padding: 0px;
		height: 200px;
		overflow: hidden;
	}
	
	.article img{
	}
	
	.article span{
		position: absolute;
		left: 0px;
		bottom: 0px;
		background-color: #fff;
		color: #d00;
		font-size: 18px;
		font-weight: bold;
	}
	
	.row {
		margin-bottom: 10px;
	}
	
	</style>
</head>
<body>
	<div id="head">
		<div class=".container">
			<div class="row">
				<div class="col-md-3">
					<span style="font-size: 30px;font-weight:bold;color:#fff;background-color:#d00;border:1px solid #d00;">BL&Ouml;D</span><span style="font-size: 30px;font-weight:bold;color:#d00;background-color:#fff;border:1px solid #d00;">24</span>
				</div>
			</div>
		</div>
	</div>
	<div id="content">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="article" style="height: 410px;">
						<img src="image.jpg" alt="image">
						<span style="font-size: 30px;">NEUER CHEF BEI PEGIDA</span>
					</div>
				</div>
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-6">
							<div class="article">
								<img src="../template/stock_laser.jpg" alt="image">
								<span>LASERANGRIFF AUF DRESDEN</span>
							</div>
						</div>
						<div class="col-md-6">
							<div class="article">
								<img src="../template/stock_car_accident.jpg" alt="image">
								<span>FAHRERFLUCHT MIT TODESFOLGE</span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="article">
								<img src="../template/stock_brutaler_ueberfall.jpg" alt="image">
								<span>BRUTALER RAUB&Uuml;BERFALL</span>
							</div>
						</div>
						<div class="col-md-6">
							<div class="article">
								<img src="../template/stock_skull.jpg" alt="image">
								<span>SCH&Auml;DEL AUF SPIELPLATZ GEFUNDEN</span>
							</div>
						</div>
					</div>
				</div>			
			</div>
			<div class="row">
				<div class="col-md-3">
					<div class="article">
						<img src="../template/stock_coast_guard.jpg" alt="image">
						<span>HUBSCHRAUBER &Uuml;BER DRESDEN EXPLODIERT</span>
					</div>
				</div>
				<div class="col-md-3">
					<div class="article">
						<img src="../template/stock_doctors.jpg" alt="image">
						<span>&Auml;RZTEPFUSCH AUF REKORDNIVEAU</span>
					</div>
				</div>
				<div class="col-md-3">
					<div class="article">
						<img src="../template/stock_mosque.jpg" alt="image">
						<span>SIEBTE MOSCHEE IN DRESDEN EINGEWEIHT</span>
					</div>
				</div>
				<div class="col-md-3">
					<div class="article">
						<img src="../template/stock_fire.jpg" alt="image">
						<span>WEITERES ASYLHEIM ANGEZ&Uuml;NDET</span>
					</div>
				</div>			
			</div>
		
		</div>
		
	</div>
</body>
</html>