<!DOCTYPE HTML>
<html>
<head>
	<title>BL&Ouml;D</title>
	<link rel="stylesheet" href="../template/bootstrap.min.css" />
	<style type="text/css">
	#head{
		border-bottom: 1px solid #ddd;
		padding: 10px 50px 10px 50px;
		margin-bottom: 10px;
	}
	
	img {
		max-width: 100%;
	}
	
	.article {
		position: relative;
		padding: 0px;
	}
	
	.article img{
	}
	
	.article span{
		position: absolute;
		left: 0px;
		bottom: 0px;
		background-color: #fff;
		color: #d00;
		font-size: 30px;
		font-weight: bold;
	}
	
	.row {
		margin-bottom: 10px;
	}
	
	</style>
</head>
<body>
	<div id="head">
		<div class=".container">
			<div class="row">
				<div class="col-md-3">
					<span style="font-size: 30px;font-weight:bold;color:#fff;background-color:#d00;border:1px solid #d00;">BL&Ouml;D</span><span style="font-size: 30px;font-weight:bold;color:#d00;background-color:#fff;border:1px solid #d00;">24</span>
				</div>
			</div>
		</div>
	</div>
	<div id="content">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="article">
						<img src="image.jpg" alt="image">
						<span>NEUER CHEF BEI PEGIDA</span>
					</div>
				</div>
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-6">
							<div class="article">
								<img src="../template/stock.jpg" alt="image">
								<span>MORD UND TOTSCHLAG</span>
							</div>
						</div>
						<div class="col-md-6">
							<div class="article">
								<img src="../template/stock.jpg" alt="image">
								<span>MORD UND TOTSCHLAG</span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="article">
								<img src="../template/stock.jpg" alt="image">
								<span>MORD UND TOTSCHLAG</span>
							</div>
						</div>
						<div class="col-md-6">
							<div class="article">
								<img src="../template/stock.jpg" alt="image">
								<span>MORD UND TOTSCHLAG</span>
							</div>
						</div>
					</div>
				</div>			
			</div>
			<div class="row">
				<div class="col-md-3">
					<div class="article">
						<img src="../template/stock.jpg" alt="image">
						<span>MORD UND TOTSCHLAG</span>
					</div>
				</div>
				<div class="col-md-3">
					<div class="article">
						<img src="../template/stock.jpg" alt="image">
						<span>MORD UND TOTSCHLAG</span>
					</div>
				</div>
				<div class="col-md-3">
					<div class="article">
						<img src="../template/stock.jpg" alt="image">
						<span>MORD UND TOTSCHLAG</span>
					</div>
				</div>
				<div class="col-md-3">
					<div class="article">
						<img src="../template/stock.jpg" alt="image">
						<span>MORD UND TOTSCHLAG</span>
					</div>
				</div>			
			</div>
		
		</div>
		
	</div>
</body>
</html>